::deep .select-player {
  width: 300px;
  background-color: black;
  color: white;
  font-size: inherit;
}

::deep .validation-errors {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}

::deep .validation-message {
 color: red;
}

.button {
  min-width: 100px;
}