@page "/counter"
@rendermode InteractiveServer
@inject IJSRuntime JSRuntime

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
<br><br>
<button class="btn btn-primary" @onclick="PromptUser">Prompt user</button>

<div class="border border-info rounded bg-info" style="height:150px"></div>
<h2 id="targetElement">Target H2 heading</h2>
<p>Content!</p>

@code
{
  private int currentCount = 0;

  private void IncrementCount()
  {
    currentCount++;
  }

  private void PromptUser()
  {
    JSRuntime.InvokeVoidAsync( "MYAPP.promptUser" );
  }
}