@inherits LayoutComponentBase

<div class="page">
  <main>
    <div class="top-row px-4">
      <div class="level">
        <div class="level-left">
          <div class="level-item pt-3">
            <div class="navbar-brand">Grass</div>
          </div>
          <div class="level-item pb-4">
            <a class="nav-link pl-3" href="/">Game</a>
          </div>
          <div class="level-item pb-4">
            <a class="nav-link pl-3" href="http://localhost:8080/score" target="_blank">Rules</a>
          </div>
        </div>
        <div class="level-center">
          <div class="level-item mb-4">
            <SectionOutlet SectionId="MessageSection" />
          </div>
        </div>
        <div class="level-right">
          <div class="level-item mb-4 game-datetime">
            <SectionOutlet SectionId="DateSection" />
          </div>
        </div>
      </div>
    </div>
    <article class="content px-4">
      @Body
    </article>
  </main>
</div>

<div id="blazor-error-ui" class="is-hidden">
  An unhandled error has occurred.
  <a href="" class="reload">Reload</a>
  <a class="dismiss">🗙</a>
</div>

@code {
  internal static object DateSection = new();
  internal static object MessageSection = new();
}